
@{
    ViewData["Title"] = "Success";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model COMP003B.Assignment3.Models.EventRegistration 

<h2>Registration Successful</h2>
<h3>Registration Information:</h3>
<p><strong>Full Name:</strong> @Model.FullName</p>
<p><strong>Email:</strong> @Model.Email</p>
<p><strong>EventCode:</strong> @Model.EventCode</p>
<p><strong>Tickets:</strong> @Model.Tickets</p>