@{
    
}
@model COMP003B.Assignment3.Models.EventRegistration
<ul>
    <li>
        <a asp-controller="Event" asp-action="Register" asp-route-eventCode="spring-2025"></a>
    </li>
    <li>
        <a asp-controller="Event" asp-action="Register" asp-route-eventCode="fall-2025"></a>
    </li>
    <li>
        <a asp-controller="Event" asp-action="Register"></a>
    </li>
</ul>
